.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.text-login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-red {
  background-color: #e93a3a;
  transition: all .3s ease-in-out;
}

.btn-red:hover {
  background-color: #c11717;
}

.btn-logout {
  margin: 0 20px;
}