.album-center
{
    text-align: center;
    font-size: 22px;
}

.album-photo-container
{
    width: 80vw;
}

.album-photo-div
{
    width: 13.8vw;
    height: 300px;
    border: .1vw solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    float: left;
}

.album-single-photo-div
{
    width: 25vw;

    border: .1vw solid #ddd;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-photo
{
    width: 8vw;
}

.album-single-photo
{
    width: 20vw;
}

.photos-search-container
{
    text-align: center;
}

.photos-search-button
{
    margin: 10px auto;
}

.photos-search-container
{
    margin: 10px auto;
}

.goto-album-button
{
    margin: 30px auto;
    display: block;
}
